<footer>
    <div class="container">
        <div class="footer-icons">
            <a class="footer-icon" href="mailto:{{ .Site.Author.email }}">
                <i class="icon-envelope circle-icon"></i>
            </a>
            <a class="footer-icon" href="https://gitlab.com/{{ .Site.Author.gitlab }}">
                <i class="icon-gitlab circle-icon"></i>
            </a>
            <a class="footer-icon" href="https://github.com/{{ .Site.Author.github }}">
                <i class="icon-github circle-icon"></i>
            </a>
            <a class="footer-icon" href="https://twitter.com/{{ .Site.Author.twitter }}">
                <i class="icon-twitter circle-icon"></i>
            </a>
        </div>
        <div class="footer-content">
            &copy; {{ .Site.LastChange.Format "2006" }} {{ .Site.Author.name }}
        </div>
    </div>
</footer>