<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {{ $style := resources.Get "main.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false "outputStyle" "compressed") }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <link rel="alternate" type="application/rss+xml" href={{"/post/index.xml" | absURL }} title="{{ .Site.BaseURL }}">
    <title>{{ if .IsHome }}Home{{ else }}{{ .Title }}{{ end }} - {{ .Site.Title }}</title>
    <link rel="icon" href="{{ "/favicon.ico" | absURL }}" />
</head>