<div class="nav nav-flex">
    <input type="checkbox" id="nav-check">
    <a class="nav-brand" href="{{ "" | absURL }}">{{ .Site.Title }}</a>
    <span class="extender"></span>
    <div id="nav-burger">
        <label for="nav-check">
            <span class="nav-burger-slice"></span>
            <span class="nav-burger-slice"></span>
            <span class="nav-burger-slice"></span>
        </label>
    </div>

    <div class="nav-links">
        {{ range .Site.Menus.main.ByWeight }}
            <a title="{{ .Name }}" href="{{ .URL  | absURL }}">{{ .Name }}</a>
        {{ end }}
    </div>
</div>