<span class="post-meta">
    {{ $lastmodstr := dateFormat "2006-01-02" .Lastmod  }}
    {{ $datestr := dateFormat "2006-01-02" .Date }}

    <div><i class="icon-calendar"></i> Posted: {{ $datestr }}</div>
    {{ if ne $datestr $lastmodstr }}
        <div><i class="icon-pencil"></i> Modified: {{ $lastmodstr }}</div>
    {{ end }}
    {{/* <div><i class="icon-user"></i> {{ .Site.Author.name | safeHTML }}</div> */}}
</span>