<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body>
    {{ partial "nav.html" . }}
    {{- partial "header.html" . -}}
    <div id="content">
        {{- block "main" . }}{{- end }}
    </div>
    <div class="extender"></div>
    {{- partial "footer.html" . -}}
</body>

</html>