{{ define "main" }}
    <div class="container">
        {{ $pag := .Paginate (where .Data.Pages "Type" "post") }} {{ range $pag.Pages }}
            <div class="content">
                <article>
                    <a href="{{ .Permalink }}">
                        <h2 class="post-title">{{ .Title }}</h2>
                        {{ if .Params.subtitle }}
                            <h3 class="post-subtitle">
                                {{ .Params.subtitle }}
                            </h3>
                        {{ end }}
                    </a>

                    <div class="fading">
                        {{ partial "post_meta.html" . }}
                    </div>

                    <div class="post-entry">
                        {{ if .Truncated }}
                            {{ .Summary }}
                        {{ else }}
                            {{ .Content }}
                        {{ end }}
                    </div>

                    {{ if or .Params.tags .Truncated }}
                        <div class="post-meta fading">
                            {{ if .Params.Tags }}
                                <i>tags&nbsp; </i>
                                {{ range .Params.tags }}
                                    <a href="{{ "/tags" | absURL }}/{{ . }}">#{{ . }}</a>&nbsp;
                                {{ end }}
                            {{ end }}
                            {{ if .Truncated }}
                                <span style="flex-grow: 2"></span>
                                <a href="{{ .Permalink }}" class="post-read-more">[Continue Reading]</a>
                            {{ end }}
                        </div>
                    {{ end }}

                </article>
            </div>
        {{end}}
    </div>
{{ end }}