{{ define "main" }}
    <div class="container">
        <div class="content">
            <div class="well">
                {{ partial "post_meta.html" . }}
                <div class="post-meta">
                    {{ if .Params.Tags }}
                        <i>tags&nbsp; </i>
                        {{ range .Params.tags }}
                            <a href="{{ "/tags" | absURL }}/{{ . }}">#{{ . }}</a>&nbsp;
                        {{ end }}
                    {{ end }}
                </div>
            </div>
            {{ .Content }}
        </div>
    </div>
{{ end }}