// Background
.chroma {
    background: #282828;
    color: #ebdbb2;
    background-color: #282828;
    line-height: 1;
    margin: 0;
}

// If not in a table with line numbers, make scroll vertically
/* Hide scrollbar for IE, Edge and Firefox */
.highlight > .chroma > code {
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.highlight > .chroma > code::-webkit-scrollbar {
    display: none;
}

// Code in syntax highlight blocks gets displayed as block
.chroma > code {
    display: inline-block;
    width: 100%;
    line-height: 1.2 !important;
}

// table 100% width
tbody {
    width: 100%;
    display: table;
}
// make second row stretch
tr > td.lntd:nth-child(2) {
    width: 100%;
}

// Line Highlight
tr > td.lntd:nth-child(2) .chroma .hl {
    width: 100%;
    display: block;
    background-color: #444443;
}

// Error
.chroma .err {
    color: #ebdbb2;
    background-color: #282828;
}

.highlight > .chroma {
    padding: 0.2em;
}

// LineTable
.chroma .lntable {
    padding: 0;
    margin: 0;
    border: 0;
    width: auto;
    overflow: auto;
    display: block;
}

// LineTableTD
.chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
}

// .hl .lnt {
//     display: inline;
//     background-color: #282828;
//     margin: 0;
//     padding: 0;
// }

// LineNumbers Table
.chroma .lnt {
    margin-right: 0.2em;
    padding: 0 0.2em 0 0.2em;
    color: #7f7f7f;
}

// LineNumbers
.chroma .ln {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f;
}

.chroma .hll {
    background-color: #ffffcc;
}

// Comment
.chroma .c {
    color: #928374;
    font-style: italic;
    background-color: inherit;
}

// Escape
.chroma .esc {
    color: #ebdbb2;
    background-color: inherit;
}

// Generic
.chroma .g {
    color: #ebdbb2;
    background-color: inherit;
}

// Keyword
.chroma .k {
    color: #fe8019;
    background-color: inherit;
}

// Literal
.chroma .l {
    color: #ebdbb2;
    background-color: inherit;
}

// Name
.chroma .n {
    color: #ebdbb2;
    background-color: inherit;
}

// Operator
.chroma .o {
    color: #fe8019;
    background-color: inherit;
}

// Other
.chroma .x {
    color: #ebdbb2;
    background-color: inherit;
}

// Punctuation
.chroma .p {
    color: #ebdbb2;
    background-color: inherit;
}

// Comment.Hashbang
.chroma .ch {
    color: #928374;
    font-style: italic;
    background-color: inherit;
}

// Comment.Multiline
.chroma .cm {
    color: #928374;
    font-style: italic;
    background-color: inherit;
}

// Comment.Preproc
.chroma .cp {
    color: #8ec07c;
    background-color: inherit;
}

// Comment.Single
.chroma .c1 {
    color: #928374;
    font-style: italic;
    background-color: inherit;
}

// Comment.Special
.chroma .cs {
    color: #928374;
    font-style: italic;
    background-color: inherit;
}

// Generic.Deleted
.chroma .gd {
    color: #282828;
    background-color: #fb4934;
}

// Generic.Emph
.chroma .ge {
    color: #83a598;
    text-decoration: underline;
    background-color: inherit;
}

// Generic.Error
.chroma .gr {
    color: #ebdbb2;
    font-weight: bold;
    background-color: #fb4934;
}

// Generic.Heading
.chroma .gh {
    color: #b8bb26;
    font-weight: bold;
    background-color: inherit;
}

// Generic.Inserted
.chroma .gi {
    color: #282828;
    background-color: #b8bb26;
}

// Generic.Output
.chroma .go {
    color: #504945;
    background-color: inherit;
}

// Generic.Prompt
.chroma .gp {
    color: #ebdbb2;
    background-color: inherit;
}

// Generic.Strong
.chroma .gs {
    color: #ebdbb2;
    background-color: inherit;
}

// Generic.Subheading
.chroma .gu {
    color: #b8bb26;
    font-weight: bold;
    background-color: inherit;
}

// Generic.Traceback
.chroma .gt {
    color: #ebdbb2;
    font-weight: bold;
    background-color: #fb4934;
}

// Keyword.Constant
.chroma .kc {
    color: #fe8019;
    background-color: inherit;
}

// Keyword.Declaration
.chroma .kd {
    color: #fe8019;
    background-color: inherit;
}

// Keyword.Namespace
.chroma .kn {
    color: #fe8019;
    background-color: inherit;
}

// Keyword.Pseudo
.chroma .kp {
    color: #fe8019;
    background-color: inherit;
}

// Keyword.Reserved
.chroma .kr {
    color: #fe8019;
    background-color: inherit;
}

// Keyword.Type
.chroma .kt {
    color: #fabd2f;
    background-color: inherit;
}

// Literal.Date
.chroma .ld {
    color: #ebdbb2;
    background-color: inherit;
}

// Literal.Number
.chroma .m {
    color: #d3869b;
    background-color: inherit;
}

// Literal.String
.chroma .s {
    color: #b8bb26;
    background-color: inherit;
}

// Name.Attribute
.chroma .na {
    color: #b8bb26;
    font-weight: bold;
    background-color: inherit;
}

// Name.Builtin
.chroma .nb {
    color: #fabd2f;
    background-color: inherit;
}

// Name.Class
.chroma .nc {
    color: #ebdbb2;
    background-color: inherit;
}

// Name.Constant
.chroma .no {
    color: #d3869b;
    background-color: inherit;
}

// Name.Decorator
.chroma .nd {
    color: #ebdbb2;
    background-color: inherit;
}

// Name.Entity
.chroma .ni {
    color: #fabd2f;
    background-color: inherit;
}

// Name.Exception
.chroma .ne {
    color: #fb4934;
    background-color: inherit;
}

// Name.Function
.chroma .nf {
    color: #fabd2f;
    background-color: inherit;
}

// Name.Label
.chroma .nl {
    color: #fb4934;
    background-color: inherit;
}

// Name.Namespace
.chroma .nn {
    color: #ebdbb2;
    background-color: inherit;
}

// Name.Other
.chroma .nx {
    color: #ebdbb2;
    background-color: inherit;
}

// Name.Property
.chroma .py {
    color: #ebdbb2;
    background-color: inherit;
}

// Name.Tag
.chroma .nt {
    color: #fb4934;
    background-color: inherit;
}

// Name.Variable
.chroma .nv {
    color: #ebdbb2;
    background-color: inherit;
}

// Operator.Word
.chroma .ow {
    color: #fe8019;
    background-color: inherit;
}

// Text.Whitespace
.chroma .w {
    color: #ebdbb2;
    background-color: inherit;
}

// Literal.Number.Bin
.chroma .mb {
    color: #d3869b;
    background-color: inherit;
}

// Literal.Number.Float
.chroma .mf {
    color: #d3869b;
    background-color: inherit;
}

// Literal.Number.Hex
.chroma .mh {
    color: #d3869b;
    background-color: inherit;
}

// Literal.Number.Integer
.chroma .mi {
    color: #d3869b;
    background-color: inherit;
}

// Literal.Number.Oct
.chroma .mo {
    color: #d3869b;
    background-color: inherit;
}

// Literal.String.Backtick
.chroma .sb {
    color: #b8bb26;
    background-color: inherit;
}

// Literal.String.Char
.chroma .sc {
    color: #b8bb26;
    background-color: inherit;
}

// Literal.String.Doc
.chroma .sd {
    color: #b8bb26;
    background-color: inherit;
}

// Literal.String.Double
.chroma .s2 {
    color: #b8bb26;
    background-color: inherit;
}

// Literal.String.Escape
.chroma .se {
    color: #b8bb26;
    background-color: inherit;
}

// Literal.String.Heredoc
.chroma .sh {
    color: #b8bb26;
    background-color: inherit;
}

// Literal.String.Interpol
.chroma .si {
    color: #b8bb26;
    background-color: inherit;
}

// Literal.String.Other
.chroma .sx {
    color: #b8bb26;
    background-color: inherit;
}

// Literal.String.Regex
.chroma .sr {
    color: #b8bb26;
    background-color: inherit;
}

// Literal.String.Single
.chroma .s1 {
    color: #b8bb26;
    background-color: inherit;
}

// Literal.String.Symbol
.chroma .ss {
    color: #83a598;
    background-color: inherit;
}

// Name.Builtin.Pseudo
.chroma .bp {
    color: #fabd2f;
    background-color: inherit;
}

// Name.Variable.Class
.chroma .vc {
    color: #ebdbb2;
    background-color: inherit;
}

// Name.Variable.Global
.chroma .vg {
    color: #ebdbb2;
    background-color: inherit;
}

// Name.Variable.Instance
.chroma .vi {
    color: #ebdbb2;
    background-color: inherit;
}

// Literal.Number.Integer.Long
.chroma .il {
    color: #d3869b;
    background-color: inherit;
}
