$font-code: Consolas,Menlo,Monaco,"Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",monospace,sans-serif;
$font-sans-serif: Impact, Charcoal, Arial, sans-serif;
$font-serif: "Palatino Linotype", "Book Antiqua", Palatino, serif;

@font-face {
    font-family: 'fa';
    src: url('/fonts/fa/fa.eot?vk985h');
    src: url('.fonts/fa/fa.eot?vk985h#iefix') format('embedded-opentype'), url('/fonts/fa/fa.ttf?vk985h') format('truetype'), url('/fonts/fa/fa.woff?vk985h') format('woff'), url('/fonts/fa/fa.svg?vk985h#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'fa' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
    content: "\f007";
}

.icon-clock:before {
    content: "\f017";
}

.icon-book:before {
    content: "\f02d";
}

.icon-calendar:before {
    content: "\f073";
}

.icon-twitter:before {
    content: "\f099";
}

.icon-github:before {
    content: "\f09b";
}

.icon-feed:before {
    content: "\f09e";
}

.icon-rss:before {
    content: "\f09e";
}

.icon-envelope:before {
    content: "\f0e0";
}

.icon-circle:before {
    content: "\f111";
}

.icon-gitlab:before {
    content: "\f296";
}

.icon-pencil:before {
    content: "\f040";
}