@import "normalize.scss";
@import "vars.scss";
@import "fonts.scss";
@import "posts.scss";
@import "nav.scss";
@import "code.scss";

::selection {
    background: $highlight-color;
    /* WebKit/Blink Browsers */
    color: $bg-color;
}

::-moz-selection {
    background: $highlight-color;
    /* Gecko Browsers */
    color: $bg-color;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: $body-bg-color;
    color: $fg-color;
    font-family: $font-sans-serif;
    line-height: 1.2;
    text-justify: distribute;
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

footer {
    width: 100%;
    background-color: $bg-color;
    border-top: 4px solid $border-color;
}

// extender will grow inside a flexbox
.extender {
    flex-grow: 3;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.footer-icon {
    color: $fg-color;
    margin: 0.5ch 1ch 0 1ch;
}

.footer-content {
    text-align: center;
    padding-bottom: 1ch;
    padding-top: 0;
}

code {
    font-family: $font-code;
}

@media (min-width: 0px) {
    .container {
        width: 90%;
        padding: 0;
    }
    .footer-icons {
        font-size: 2rem;
    }
    code {
        font-size: 0.8rem;
    }
    body,
    .post-meta {
        font-size: 1rem;
    }
}

@media (min-width: 550px) {
    .container {
        width: 80%;
    }
    .footer-icons {
        font-size: 3rem;
    }
    code {
        font-size: 0.9rem;
    }
    body {
        font-size: 1.1rem;
    }
}

@media (min-width: 700px) {
    .post-meta {
        font-size: 1.1rem;
    }
    body {
        font-size: 1.2rem;
    }
}

// the well on the main page has bottom margin
.container > .well {
    margin-bottom: 30px;
}

.well {
    padding: 10px 20px;
    background-color: $body-bg-color;
    border: 2px solid $border-color;
    color: $body-accent-color;
    border-radius: 5px;
}

.content {
    border-radius: 5px;
    background-color: $bg-color;
    padding: 20px;
    margin: 0px 0px 60px 0px;
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover {
    color: $highlight-color;
}

.page-heading,
.post-heading,
.series-heading,
.tags-heading {
    text-align: center;
    font-size: 1.5 rem;
}

.header-section {
    color: $body-accent-color;
}

.paginate {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
