* {
    box-sizing: border-box;
}

// navbar-height
$nav-height: 70px;

// actual nav
.nav {
    border-bottom: 4px solid $border-color;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    // it shows on top of everything
    z-index: 10;

    // general styles
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    height: $nav-height;
    background-color: $bg-color;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: $fg-color;
    font-weight: bold;
}

.nav a {
    color: $fg-color;
    padding: 0.5ch;
}

.nav-brand {
    font-family: $font-code;
}

// Burger
#nav-burger {
    visibility: collapse;
    display: inline-block;
}

.nav-burger-slice {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid $fg-color;
}

#nav-burger:hover,
.nav-burger-slice:hover {
    cursor: pointer;
}

#nav-burger:hover .nav-burger-slice {
    border-top: 2px solid $highlight-color;
}

#nav-check {
    display: none;
}

@media (max-width:600px) {
    #nav-burger {
        visibility: visible;
    }

    .nav>.nav-links {
        visibility: collapse;
        position: absolute;
        display: block;
        text-align: center;
        width: 100%;
        background-color: $bg-color;
        height: 0px;
        transition: all 0.3s ease-in-out;
        overflow-y: hidden;
        top: $nav-height;
        left: 0px;
        padding-top: 0.5ch;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        background: $body-bg-color;
        visibility: visible;
        height: calc(100vh - 70px);
        overflow-y: scroll;
    }

    .nav>#nav-check:checked~.nav-links a {
        // color: $body-accent-color;
        color: $link-color;
    }

    .nav>#nav-check:checked~.nav-links a:hover {
        color: $highlight-color;
    }
}

@media (max-width:300px) {
    .nav {
        font-size: 1rem;
    }
}