a.post-read-more {
    color: $fg-color;
    font-family: $font-serif;
    font-size: 1.2rem;
}

a.post-read-more:hover {
    color: $highlight-color;
}

.post-title {
    padding: 0px;
    margin: 0px;
    color: $fg-color;
}

.post-title:hover {
    color: $highlight-color;
}

.fading {
    color: $fg-color-alt;
}

.post-meta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    font-family: $font-sans-serif;
    font-style: italic;
}

.post-meta>div {
    padding-right: 1ch;
}

.post-entry {
    padding-top: 20px;
}