$body-bg-color: #282828;
$body-accent-color: #ebdbb2;

$bg-color: #EEE;
$fg-color: #404040;
$fg-color-alt: #606060;
$border-color: #fe8019;

// $link-color: #b8bb26;
$link-color: #98971a;
$highlight-color: #d79921;